/** @format */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Nanum+Gothic:wght@400;700;800&display=swap");

html {
  font-size: 10px;
}
body {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 300;
  color: #272829;
}
.inner {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

/*header*/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  background-color: transparent;
}

header.on {
  background: #000;
}

header > div {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header h1 a {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 900;
  /* font-family: 'Black Han Sans', sans-serif; */
}

nav li {
  padding-left: 15px;
}

nav a span {
  padding-right: 8px;
  color: #a8a9b4;
  font-size: 1.6rem;
}

nav li:hover > a span {
  color: #fff;
}

/*main*/
/*home*/
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.home .home_intro {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home_title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
}
.home .home_title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 800;
  /* font-family: 'Black Han Sans', sans-serif; */
}

/*about, left*/
section {
  padding-bottom: 40px;
  overflow: hidden;
}
h2 {
  padding-bottom: 20px;
  font-size: 3.4rem;
  font-weight: 600;
}
h3 {
  padding-bottom: 20px;
  font-size: 2.8rem;
  font-weight: 500;
}
.about {
  background-color: rgb(250, 250, 251);
}
.about .inner {
  width: 100%;
  max-width: 1920px;
}
.about .about_left {
  position: sticky;
  top: 60px;
  padding: 80px;
  width: 30%;
  height: 100%;
  color: #fff;
  font-size: 2.2rem;
  font-family: "Gowun Dodum", sans-serif;
  line-height: 40px;
  word-break: keep-all;
  background-color: gray;
}
.about_left dl {
  padding-top: 400px;
}
.about_left dt {
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 600;
}
.about .about_right {
  padding: 100px 50px 100px 80px;
  width: 70%;
}
.about_right li {
  font-size: 2rem;
  line-height: 40px;
}

/*about, right*/
.education li a{
  text-decoration: underline;
}
.skills ul {
  position: relative;
  width: auto;
  min-width: 80%;
  background-color: #eeeeee;
  border-radius: 30px;
}

.skills li {
  padding: 0 30px;
  height: 350px;
  border-radius: 30px;
}
.skills li.on {
  background-color: #fff;
}
.skills .skill_left img {
  width: 60px;
  padding-top: 30px;
}

.skills .skill_right {
  position: absolute;
  top: 120px;
  left: 0;
  display: none;
  padding: 30px;
  width: 100%;
  height: 230px;
  word-break: break-all;
  font-size: 1.8rem;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}
.skills .on .skill_right{
  display: block;
}
.skills .skill_right span {
  display: block;
  font-size: 1.4rem;
}
/*Portfolio*/
.portfolio {
  padding: 100px 0;
}
.portfolio > div {
  justify-content: center;
}
.portfolio .portfolio-flters {
  display: inline-block;
  margin: 10px auto 30px;
  padding: 5px 16px;
}
.portfolio .portfolio-flters li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 10px 20px 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio-flters li:hover::after,
.portfolio-flters li.filter-active::after {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 10px;
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background-color: rgba(141, 155, 163, 0.539);
}

.portfolio .portfolio-item {
  margin: 50px 0 100px 0;
  font-size: 2rem;
  line-height: 40px;
}

.hidden {
  display: none;
}

.portfolio .portfolio-item > p {
  width: 50%;
}

.portfolio .portfolio-item img {
  width: 100%;
  object-fit: cover;
}

.portfolio .portfolio_info {
  width: 50%;
  margin-left: 50px;
  padding: 20px;
}

.portfolio .portfolio_info span {
  display: inline-block;
  margin: 0 7px 10px 0;
  padding: 0px 8px;
  color: white;
  background-color: #173b6c;
  border-radius: 5px;
}
.portfolio .portfolio_info .react {
  background-color: #5387db;
}

.portfolio .portfolio_info .plan {
  background-color: #149ddd;
}

.portfolio .portfolio_info .clone {
  background-color: darkgreen;
}
.portfolio .portfolio_info .challenge {
  background-color: lightskyblue;
}
.portfolio .portfolio_info li {
  margin-bottom: 5px;
}
.portfolio .portfolio_info strong {
  padding-right: 20px;
}
.portfolio .portfolio_info a {
  display: inline-block;
  margin-top: 20px;
  padding: 0 10px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
}
.portfolio .portfolio_info a.codeLook {
  background-color: #4f81be;
}
.portfolio .portfolio_info a:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.portfolio .portfolio-text {
  margin-top: 50px;
  font-size: 2.3rem;
}
