html{
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #272829;
}
.inner{
  width: 90%;
  max-width: 1280px;
  margin: auto;
}
a {
  color: #149ddd;
}
a:hover {
  color: #37b3ed;
}

/*header*/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  line-height: 50px;
  background-color: transparent;
}

header.on {
  background: #1e395c;
}

header > div{
  justify-content: space-between;
  align-items: center;
}

header h1 a{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}

nav a{
  color: #a8a9b4;
  font-size: 1.7rem;
}

nav a span{
  padding-right: 8px;
  color: #6f7180;
}

nav li:hover > a {
  color: #fff;
  font-weight: 700;
}

nav li:hover > a span{
  color: #149ddd;
}

/*main*/
/*home*/
.home{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.home .home_intro{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home_title{
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
}
.home .home_title span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  font-size: 120px;
  font-family: "Black Han Sans", sans-serif;
}

/*about*/
section {
  padding-bottom: 40px;
  overflow: hidden;
}
h2{
  padding-bottom: 20px;
  font-size: 2.8rem;
  font-weight: 500;
}

.about .inner{
  width: 100%;
  max-width: 2500px;
}
.about .about_left{
  position: sticky;
  padding: 100px;
  width: 40%;
  height: 100vh;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 40px;
  word-break: keep-all;
  background-color: rgb(243, 244, 253);
}
.about_left dl{
  padding-top: 200px;
}
.about_left dt{
  font-weight: 500;
}
.about .about_right{
  padding: 100px;
  width: 60%;
}
.about_right li{
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
}

.about_right .skills ul{
  flex-wrap: wrap;
}
.about_right .skills li{
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.skills li img {
  margin: 15px;
  width: 60px;
}

.skills span {
  display: block;
  text-align: center;
}

/*Portfolio*/
.portfolio{
  padding: 100px 0;
}
.portfolio #portfolio-flters{
  display: inline-flex;
  margin: 10px 0 30px;
  padding: 7px 14px;
  white-space: nowrap;
  border-radius: 30px;
  background-color: rgb(243, 244, 253);
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  padding: 10px 15px 8px 15px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #149ddd;
}

.portfolio .portfolio-item {
  margin-bottom: 100px;
  font-size: 2rem;
  line-height: 40px;
}

.portfolio .portfolio-item > p{
  width: 50%;
}

.portfolio .portfolio-item img {
  width: 100%;
  object-fit: cover;
}

.portfolio .portfolio_info {
  width: 50%;
  margin-left: 50px;
  padding: 20px;
}

.portfolio .portfolio_info span {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0px 8px;
  color: white;
  background-color: #173b6c;
  border-radius: 5px;
}

.portfolio .portfolio_info .plan {
  background-color: #149ddd;
}

.portfolio .portfolio_info .clone {
  background-color: darkgreen;
}

.portfolio .portfolio_info li {
  margin-bottom: 5px;
}
.portfolio .portfolio_info strong {
  padding-right: 20px;
}

.portfolio .portfolio-text {
  margin-top: 50px;
  font-size: 2.3rem;
}
